body {
  background: url(/images/bg.jpg) #0F4455;
  color: #FCFCFC;
  font-family: 'ComfortaaBold', Tahoma, sans-serif;
  margin: auto;
  padding: auto;
  text-align: center;
  text-shadow: 2px 2px 3px #000;
}

span.highlight {
  color: #33FF99;
}

a {
  color: #AAAAFF;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover {
  color: #6666FF;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

div#wrap {
  margin: auto;
  margin-top: 50px;
  width: 720px;
  height: 400px;
  text-align: left;
}

header aside a {
  background: url(/images/ruby-big.png) no-repeat;
  display: block;
  float: right;
  height: 100px;
  width: 100px;
  overflow: hidden;
  text-indent: -9999px;
  opacity: 0.8;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header aside a:hover {
  -webkit-transform: scale(1.2) rotate(10deg);
  -moz-transform: scale(1.2) rotate(10deg);
  transform: scale(1.2) rotate(10deg);
  opacity: 1;
}

section aside a {
  background: url(/images/foto.jpg) no-repeat 0 -10px;
  border-radius: 50%;
  border: 5px solid #FCFCFC;
  box-shadow: 2px 2px 1px #000, inset 1px 1px 1px #000;
  display: block;
  float: left;
  height: 180px;
  width: 180px;
  overflow: hidden;
  margin-right: 20px;
  text-indent: -9999px;
  opacity: 0.6;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

section aside a:hover {
  opacity: 1;
}

header h1 {
  font-size: 46px;
  font-family: 'ComfortaaBold', Tahoma, sans-serif;
}

section article p {
  font-size: 26px;
  text-align: justify;
}

section article p img {
  border: 0;
  vertical-align: middle;
}

footer {
  margin: 0;
  clear: both;
  float: left;
  font-family: 'ComfortaaRegular', Tahoma, sans-serif;
  font-size: 16px;
  width: 100%;
}

footer p.copy {
  clear: both;
  color: #999;
  font-size: 14px;
  text-shadow: 1px 1px 1px #000;
}

footer p.note {
  text-align: right;
  float: right;
  max-width: 35%;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  list-style: none;
  float: left;
  overflow: hidden;
  margin-left: 5px;
}

footer ul li a {
  background: transparent no-repeat;
  display: block;
  height: 32px;
  width: 32px;
  overflow: hidden;
  text-indent: -9999px;
}

footer ul li.email a     { background: url(/images/email.png); }
footer ul li.twitter a   { background: url(/images/twitter.png); }
footer ul li.google a    { background: url(/images/google.png); }
footer ul li.linkedin a  { background: url(/images/linkedin.png); }
footer ul li.github a    { background: url(/images/github.png); }
footer ul li.ruby a      { background: url(/images/ruby.png); }
footer ul li.facebook a  { background: url(/images/facebook.png); }
footer ul li.skype a     { background: url(/images/skype.png); }
footer ul li.gtalk a     { background: url(/images/gtalk.png); }
footer ul li.youtube a   { background: url(/images/youtube.png); }
