<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="charset" content="utf-8">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/layout.css">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28068804-1']);
      _gaq.push(['_setDomainName', 'luansantos.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>